@using KrosfyNewsHub.Extensions
@using KrosfyNewsHub.Models
@{
    ViewBag.Title = "Home Page";
}


<!-- ======= Post Grid Section ======= -->
<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <!-- ======= Parte izquierda ======= -->

            <div class="col-lg-10">
                <!-- Categoria -->
                @foreach ((List<Article> articulos, int IDCategoria, int IDSubCategoria) categoria in ViewBag.News)
                {
                    <div class="row">
                        <div class="col-lg-12 section-header d-flex justify-content-between align-items-center mb-5">
                            <h2>@NewsExtensions.GetSubCategoryName(categoria.IDSubCategoria)</h2>
                            <div>@Html.ActionLink($"{Resources.Resources.Home_SeeAllText} - {NewsExtensions.GetSubCategoryName(categoria.IDSubCategoria)}", "Category", "Home", new { area = "", categoriaID = categoria.IDCategoria, SubCategoriaID = categoria.IDSubCategoria }, new { @class = "more" })</div> <!-- Terminar-->
                        </div>
                        <div class="col-lg-5">
                            @foreach (Article noticia in categoria.articulos.Take(2))
                            {
                                <div class="post-entry-1 lg">
                                    <a href="@Url.Action("SinglePost","Home", new { area = "", idPost = 0 })"><img src="@noticia.urlToImage" alt="" class="img-fluid"></a>
                                    <div class="post-meta"><span>@noticia.author</span> <span class="mx-1">&bullet;</span>  <span>@noticia.publishedAt.ToString("dd-MM-yyyy")</span> <span class="mx-1">&bullet;</span><span class="date">@noticia.source.name</span> </div>
                                    <h2><a href="@Url.Action("SinglePost","Home", new { area = "", idPost = 0 })">@noticia.title</a></h2>
                                    <p class="mb-4 d-block">@noticia.description</p>

                                </div>
                            }
                        </div>

                        <div class="col-lg-7 border-start custom-border">
                            <div class="row g-5">
                                @foreach (Article noticia in categoria.articulos.Skip(2).Take(6))
                                {
                                    <div class="col-lg-6 ">
                                        <div class="post-entry-1">
                                            <a href="@Url.Action("SinglePost","Home", new { area = "", idPost = 0 })"><img src="@noticia.urlToImage" alt="" class="img-fluid"></a>
                                            <div class="post-meta"><span>@noticia.author</span> <span class="mx-1">&bullet;</span>  <span>@noticia.publishedAt.ToString("dd-MM-yyyy")</span> <span class="mx-1">&bullet;</span><span class="date">@noticia.source.name</span> </div>
                                            <h2><a href="@Url.Action("SinglePost","Home", new { area = "", idPost = 0 })">@noticia.title</a></h2>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }



            </div>
            <!-- ======= Parte derecha ======= Trending Section -->
            <div class="col-lg-2">

                <div class="trending">
                    <h3>Trending</h3>
                    <ul class="trending-post">
                        <li>
                            <a href="SinglePost">
                                <span class="number">1</span>
                                <h3>The Best Homemade Masks for Face (keep the Pimples Away)</h3>
                                <span class="author">Jane Cooper</span>
                            </a>
                        </li>
                        <li>
                            <a href="SinglePost">
                                <span class="number">2</span>
                                <h3>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h3>
                                <span class="author">Wade Warren</span>
                            </a>
                        </li>
                        <li>
                            <a href="SinglePost">
                                <span class="number">3</span>
                                <h3>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h3>
                                <span class="author">Esther Howard</span>
                            </a>
                        </li>
                        <li>
                            <a href="single-post.html">
                                <span class="number">4</span>
                                <h3>9 Half-up/half-down Hairstyles for Long and Medium Hair</h3>
                                <span class="author">Cameron Williamson</span>
                            </a>
                        </li>
                        <li>
                            <a href="single-post.html">
                                <span class="number">5</span>
                                <h3>Life Insurance And Pregnancy: A Working Mom’s Guide</h3>
                                <span class="author">Jenny Wilson</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div> <!-- End Trending Section -->



        </div> <!-- End .row -->
    </div>
</section>

