@using KrosfyNewsHub.Extensions
@{

    var logoURL = Url.Content("~/assets/img/favicon.png");
    string Err = "";
    var Categorias = NewsExtensions.GetCategories_INT(ref Err);
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Krosfy News</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--  favicons -->
    <link href="~/Content/assets/img/logo-kn.png" rel="icon">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")

    <!-- =======================================================
    * Template Name: ZenBlog
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                @*logo*@
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/assets/img/logo-kn.png" alt="logo" width="90">
                </a>
                @*boton mobile*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">@Html.ActionLink(Resources.Resources.Menu_HomeBtn, "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        @*opciones del menu*@
                        @foreach (var cat in Categorias)
                        {
                           <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" id="Dropdown@(cat.ID)" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @NewsExtensions.GetCategoryName(cat.ID)
                             </a>
                             <div class="dropdown-menu bg-light border-bottom border-bottom" aria-labelledby="@(cat.ID)">
                                @Html.ActionLink(Resources.Resources.Menu_AllText, "Index", "Home", new { area = "", categoriaID = cat.ID }, new { @class = "nav-link dropdown-item justify-content-center d-flex" })
                                @foreach (var subcategory in cat.subcategories)
                                {
                                  @Html.ActionLink(NewsExtensions.GetSubCategoryName(subcategory.ID), "Category", "Home", new { area = "", categoriaID = cat.ID, SubCategoriaID = subcategory.ID }, new { @class = "nav-link dropdown-item justify-content-center d-flex" })
                                }
                             </div>
                           </li>
                        }
                    </ul>

                    @*Barra de busqueda*@ 
                    <div class="research-field">
                        <form class="d-flex" role="search" style="float:right; width:100%;">
                            <input class="form-control me-2" type="search" placeholder="@Resources.Resources.Menu_SearchText" aria-label="Search">
                            <a class="btn btn-outline-dark" href="@Url.Action("SearchResult","Home", new { area = "", type = "cardano" })"><i class="bi bi-search"></i></a>
                        </form>
                    </div>

                    @* Submenu de lenguaje.*@
                    @Html.Partial("_LanguagePartial")

                </div>
            </div>
        </nav>
    </header>


    <div class="container-noborder body-content">

        @RenderBody()

        <footer id="footer" class="footer">
            <div class="footer-legal">
                <div class="container">

                    <div class="row justify-content-between">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <div class="copyright">
                                © Copyright <strong><span>Krosfy</span></strong>. All Rights Not Reserved
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </footer>

        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jsTemplate")
    @RenderSection("scripts", required: false)

</body>
</html>
