@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Krosfy News - Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!--  favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    @Styles.Render("~/Content/assets/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/assets/css/login.css")
</head>
<body>
    <div class="container-fluid d-flex h-100 flex-column">
        <div class="row">
            <div class="col-12">
                @if (!string.IsNullOrEmpty((string)TempData["ERROR"]))
                {
                    <div class="alert alert-danger alert-dismissible fade show mx-auto" role="alert">
                        <strong>Error: </strong> @((string)TempData["ERROR"]).
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="d-flex align-items-center">
                    <form class="form mx-auto my-auto" method="post" action="@Url.Action("Index","Login")">
                        <p class="form-title">Krosfy News - Login</p>
                        <div class="input-container">
                            <input type="text" placeholder="Nombre de usuario" name="username" required>
                            <span>
                            </span>
                        </div>
                        <div class="input-container">
                            <input type="password" placeholder="Contraseña" name="password" required>
                        </div>
                        <button type="submit" class="submit">
                            Iniciar Sesion
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")

</body>
</html>
